html {
  height: 100%;
}

body {
  min-height: 100%;
}

.room-list {
  position: absolute;
  top: 0;
  right: 70%;
  bottom: 0;
  left: 0;
  background-color: rgb(209,166,131);
  padding-left: 1em;
}

.title {
  font-family: "Avenir", sans-serif;
  font-size: 300%;
  color: rgb(26,44,87);
}

.room-list {
  font-family: "Avenir", sans-serif;
  color: rgb(26,44,87);
}
